@model SimplyProductShop.ViewModel.ProductViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opis produktu</h2>
<br />
<hr />
<p>@Model.Name</p>
<hr />
<p>@Model.Category</p>
<hr />
<p>@Model.Description</p>
<hr />
<p>@Model.IsAvaliable</p>
<hr />
<p>@Model.Img</p>

