@model SimplyProductShop.ViewModel.ProductViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opis produktu</h2>
<br />
<hr />
<p>Name: @Model.Name</p>
<hr />
<p>Category: @Model.Category</p>
<hr />
<p>Description: @Model.Description</p>
<hr />
<p>Is avaliable: @Model.IsAvaliable</p>
<hr />
<p>@Model.Img</p>

