@model SimplyProductShop.ViewModel.AboutMeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm("SumbitAboutEditForm", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Ustaw pola opisu na glownej stronie :</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.WhoIAm, new { @class = "col-lg-2 control-label" })
            @Html.TextBoxFor(m => m.WhoIAm, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WhatImIdoing, new { @class = "col-lg-2 control-label" })
            @Html.TextAreaFor(m => m.WhatImIdoing, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MyExperience, new { @class = "col-lg-2 control-label" })
            @Html.TextAreaFor(m => m.MyExperience, new { @class = "form-control" })
        </div>
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
}

